<!DOCTYPE html>
<html>
<head>
	<title>Nitip Unduh</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/static/mobile/jquery.mobile-1.3.0.min.css" />
	<script src="/static/mobile/jquery-1.9.1.min.js"></script>
	<script src="/static/mobile/jquery.mobile-1.3.0.min.js"></script>
</head>
<body>

<div data-role="page">

        {% include "mobile/header.html" %}
	
	<div data-role="content">
		{% block content %}{% endblock %}
	</div><!-- /content -->

	
	{% include "mobile/footer.html" %}
</div><!-- /page -->

</body>
</html>