<div data-role="header" data-theme="b">
    <h1>Nitip Unduh</h1>
    <a href="#popupDialog" class="ui-btn-right" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="slidedown" data-theme="c">info</a>
    <div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>Tentang Saya</h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <p>Saya adalah sebuah interface web yang bertujuan untuk memanipulasi aplikasi aria2. Dibangun menggunakan Django dan xmlrpclib</p>
            <p>Versi alfa ini ditujukan untuk keperluan uji coba saja. Saya belum dapat di gunakan untuk produksi.</p>
            <p>Masukan dan saran dapat di kirimkan ke say@bramandityo.com</p>
            <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="a">Ok</a>
        </div>
    </div>
    <div data-role="navbar">
		<ul>
			<li><a href="#beranda" data-icon="home">Beranda</a></li>
                        <li><a href="#tambah" data-icon="plus">Tambah</a></li>
                        <li><a href="#tentang" data-icon="grid">Statistik</a></li>
		</ul>
	</div><!-- /navbar -->
</div>