{% extends "base.html" %}

{% block main %}
    {% if messages %}
        {% for message in messages %}
        <h4 class="alert_error">{{ message }}</h4>
        {% endfor %}
    {% endif %}
    <div class="span6">
        <h3>Tambah URL Unduhan</h3>
    <form action="" method="POST" class="well form-horizontal">
        <fieldset>
        {% csrf_token %}
   
            <div class="module_content">
                            <fieldset style="width:60%; float:left; margin-right: 3%;"> <!-- to make two field float next to one another, adjust values accordingly -->
                                    <label>URL</label>
                                    <div style="width: 92%;">{{ form.url }}</div>
                            </fieldset>
                            <fieldset style="width:30%; float:left;"> <!-- to make two field float next to one another, adjust values accordingly -->
                                    <label>Koneksi Bersamaan</label>
                                    <div style="width: 89%;">{{ form.split }}</div>
                            </fieldset><div class="clear"></div>
            </div>
            <div class="submit_link">
                    <input type="submit" class="alt_btn" value="Kirim">
            </div>
        </fieldset>
    </form>
    </div>
{% endblock %}