{% extends "base.html" %}

{% block main %}
<table class="table table-striped table-bordered ">
			<thead> 
				<tr> 
                                <th>Items</th> 
    				<th>Value</th> 
				</tr> 
			</thead> 
			<tbody>
				<tr> 
                                    <td>Jumlah Unduhan Selesai</td>
    				    <td>{{ stats.numStopped }}</td> 
    				</tr>
                                <tr> 
                                    <td>Jumlah Unduhan Tertunda</td>
    				    <td>{{ stats.numWaiting }}</td> 
    				</tr>
                                <tr> 
                                    <td>Jumlah Unduhan Berjalan</td>
    				    <td>{{ stats.numActive }}</td> 
    				</tr>
                                <tr> 
                                    <td>Total Kecepatan Unduh</td>
    				    <td>{{ stats.downloadSpeed|filesizeformat }}/s</td> 
    				</tr> 
			</tbody> 
			</table>

</article>	
<div class="well btn-info">
                        <p>Saya adalah sebuah interface web yang bertujuan untuk memanipulasi aplikasi aria2. Dibangun menggunakan Django dan xmlrpclib</p>
                        <p>Versi alfa ini ditujukan untuk keperluan uji coba saja. Saya belum dapat di gunakan untuk produksi.</p>
                        <p>Masukan dan saran dapat di kirimkan ke say@bramandityo.com</p>
                </div>
	
{% endblock %}